Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [12]:
name = "Kartik Parsodkar"    #String variable
print(name)

list = [1,2,3,'kartik', 'sujit', 'parsodkar']  #List variable
print(list)

my_float = 3.14
print(my_float)

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

Kartik Parsodkar
[1, 2, 3, 'kartik', 'sujit', 'parsodkar']
3.14
(1, 2, 3, 4, 5)

Q2. Given are some following variables containing data:
What will be the data type of the above given variable.

(i) var1 = ‘ ‘
ans: Data type of var1 will be String.

(ii) var2 = ‘[ DS , ML , Python]’
ans: Data type of var2 will be String.

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
ans: Data type of var3 will be List.

(iv) var4 = 1.
ans: Data type of var4 will be Integer.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [21]:
#(i)/ : This is a division operator. It divides one number from another also this operator can return floating result '''
a = 10
b = 3
result = a/b
print(result)

#In this example in result variable the result of 10/3 will be stored and the result will be printed using print()

3.3333333333333335

In [23]:
'''(ii) % : This is a Modulus Operator, It returns the remainder of the division between 2 numbers.
It is also used in checking divisibility or extract remainder'''
a = 10
b = 3
result = a%b
print(result)

1

In [25]:
'''(iii) // : This is a floor division operator. It is similar to a division operator but it rounds the result in 
the nearset whole number'''
a = 10
b = 3
result = a//b
print(result)

#Here the answer of 10/3 will be 3.3333 but it will return only 3 which is rounded-off

3

In [27]:
'''(iv) ** : This is a Expotential Operator. It is used to raise a number to the power of another number.
It calculatesd the expotential of the left operand by right operand'''

a = 2
b = 3
result = a**b
print(result)

8

In [31]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

my_list = [1,2,3,True,"Kartik", "Parsodkar", 3.14, False, "Data Science", 10]

for i in my_list:
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
True <class 'bool'>
Kartik <class 'str'>
Parsodkar <class 'str'>
3.14 <class 'float'>
False <class 'bool'>
Data Science <class 'str'>
10 <class 'int'>

In [35]:
'''Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

A = 100
B = 5

division = 0

while A%B == 0:
    A = A/B
    division += 1
print(division)

2

In [38]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

my_list = [1,2,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in my_list:
    if(i%3 == 0):
        print(i, "is divisible by 3")
    else:
        continue

6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3

In [40]:
'''What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''

'''Immutable Datatypes: Data types classified as immutable are those whose values cannot be altered after creation.
An immutable object creates a new object with the modified value whenever it is modified. 
In Python, immutable data types include floats, strings, tuples, and integers.
'''

message = "Hello, World!"
print(message)  # Output: Hello, World!

# Attempting to modify the string
message[0] = 'h'  #This will throw an error

'''Mutable Datatypes: mutable data types are those whose values can be updated after they are generated, or in-place modifications.
In Python, mutable data types include dictionaries, sets, and list.'''

10
5
Hello, World!

TypeError: 'str' object does not support item assignment