How do you comment code in Python? What are the different types of comments?

Ans: In python we use comment for explanation of a particular section of a code.Python comments can be (i) single-line comments and (ii) multi-line comments. 
(i) In single-line comments '#' is used before starting an explanation. This is used to comment down in a single line and is ignored by a compiler.
Example: 
#this is a single-line comment
a = 10  

(ii)In multi-line comments we can use either """ """ or ''' ''' for commenting. Multi-line comments are used in case of a longer explanation with more than one line.
Example:
a = 10 """ this is a multi-line comment 
               line 2
               line3"""

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans: In Python, variables are used to store and manipulate data. The variable will be in the memory with the particular name that we assign to it.To declare a variable we need to choose a nome of a variable which need to be started by a alphabets where numbers are not allowed for a variable name and to assign a value to a variable we use simple assignment operator(=). As python is dynamically typed we do not need to specify the data type to a variable.

In [2]:
a = 10 
a

10

Q3. How do you convert one data type to another in Python?

In [20]:
"""In Python, you can convert one data type to another using type conversion functions
or by directly assigning the value to a variable of the desired data type."""

pi = "3.14"
D = "10"
roll = 55
print(type(pi)) #initially data-type of pi is string

#to convert pi to float
a = float(pi)
print(type(a))

#to convert D to int which is string
b = int(D)
print(type(b))

#to convert roll into string which is initially integer
c = str(roll)
print(type(c))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'str'>

Q4. How do you write and execute a Python script from the command line?

Open a text editor and create a new file. For example, let's create a file named script.py.

In the text editor, write your Python code in the file. For example, let's write a simple "Hello, World!" script:
print("Hello, World!")

Save the file with a .py extension. In this case, save it as script.py.

Open the command line or terminal on your computer.

Navigate to the directory where you saved the script.py file using the cd command. For example, if the file is saved on the desktop, you can navigate to the desktop directory using the following command (assuming you are using Windows):
cd C:\Users\Kartik\Desktop

Once you are in the correct directory, you can run the Python script by typing python followed by the name of the script file. In this case, you would type:
python script.py

Press Enter to execute the command. The Python script will run, and the output will be displayed in the command line or terminal:
Hello, World!

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [24]:
my_list = [1,2,3,4,5]

my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Ans: In mathematics, a complex number is a number that comprises both a real part and an imaginary part.
It is written in the form "a + bi".
In Python, complex numbers are represented using the "j" suffix to denote the imaginary part.

In [25]:
CN = 5+2j
CN

(5+2j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [28]:
age = 25
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

Ans: When we declare a variable named price and its value as 9.99 then the variable will belong to the float data-type.

In [30]:
age = 9.99
type(age)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

Ans: After declaring a variable named name and assigning its value as my name to print it we can use python function 'print()'.

In [32]:
name = "Kartik Parsodkar"
print(name)

Kartik Parsodkar

Q10. Given the string "Hello, World!", extract the substring "World".

In [36]:
str1 = "Hello, World!"

str1[7:len(str1)-1]

'World'