In [3]:
import pandas as pd

In [9]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [11]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
l1 = [1,2,3,4,5,6,7,8,9,10]
S1 = pd.Series(l1)
print(S1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [13]:
# Q3. Create a Pandas DataFrame that contains the following data:
data = {
    'Name' : ['Alice', 'Bob', 'Claire'],
    'Age' : [25,30,27],
    'Gender' : ['Female','Male', 'Female']
}

A = pd.DataFrame(data)
print(A)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
DataFrame: A two-dimensional labeled data structure in Pandas that holds data in a tabular form with rows and columns. Each column represents a different variable, and each row represents an observation. DataFrames are versatile and used for data manipulation, analysis, and cleaning.

Series: A one-dimensional labeled array in Pandas that can hold data of a single data type. It represents a single column of data with an associated index for labeling each element. Series are the building blocks of DataFrames and are used to store and manipulate single columns of data.

In [15]:
# Code for DataFrames:
data = {
    'Name' : ['Alice', 'Bob', 'Claire'],
    'Age' : [25,30,27],
    'Gender' : ['Female','Male', 'Female']
}

A = pd.DataFrame(data)
print(A)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [16]:
#Code for Series:
ages = pd.Series([25, 30, 27], name='Age')
print("\nSeries:")
print(ages)

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [17]:
# head(): Returns the first n rows of the DataFrame. It is useful for quickly inspecting the data.
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

print(df.head(2))

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [19]:
# tail(): Returns the last n rows of the DataFrame. Useful for checking the end of the data.

print(df.tail(1))

     Name  Age  Gender
2  Claire   27  Female

In [20]:
#info(): Provides a concise summary of the DataFrame, including data types, non-null values, and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans: DataFrame

In [21]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

To create a DataFrame using multiple Series, we can use the pd.DataFrame() constructor and pass the Series as a dictionary where each Series corresponds to a column in the DataFrame. The index of the Series will be used as the index of the DataFrame. Here's an example: